.about_us_icon{
  content: url(assets/4_3_icon_about_us_logo.png);
  max-height: 25px;
}
#arteaga{
    background-image: url(assets/40_coahuila_golf_en_bosques_de_monterreal_16573062721.jpg);
    background-position: center;
    background-size: cover;
    padding:10px;
}
#background_1{
    background-image: url(assets/paseo_santa_lucia7561.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}
#background_2{
    background-image: url(assets/82_evening-1777352_960_720.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.banner{
    background-color: #aeb7cc;
    width: 100%;
}
.banner_img{
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
body{
  margin: 0;
}
.bold{
  font-weight: bolder;
}
.column{
    float: left;
    width: 45%;
    padding: 10px;
}
.contact_us{
  font-size: 18px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.copyright{
  color: grey;
  font-size: 15px;
  text-align: justify;
}
.food_background{
    background-image: url(assets/27_nachos-5539014_960_720.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}
footer{
    background-color: lightgray;
}
footer table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}
footer th, td{
    padding: 0 1%;
    font-size: 16px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: white;
}
.gray_background{
    background-color: gray;
    padding: 20px;
}
h1{
  margin: 0;
}
.header_selected{
  color: white;
  background-color:#9497b3;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.homepage{
  content: url(assets/4_1_icon_menu_logo.png);
  max-height: 25px;
}
#linares{
    background-image: url(assets/61_iglesia_santa_maria_la_mayor.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.links{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    margin-left: -15px;
}
.links a{
    color: white;
}
nav{
    text-align: center;
    background-color: lightgray;
    width: 100%;
}
nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    font-size: 20px;
}
nav ul li{
    float: left;
}
nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 3px 2px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
nav a:hover{
    background-color: gray;
    color: white;
    text-decoration: underline;
}
p{
    font-size: 25px;
    text-align: justify;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.question{
  color: black;
  text-align: left;
}
.quiz_background{
  background-image: url(assets/quiz_back.jpeg);
  width: 100%;
  height: auto;
  background-size: cover;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.sites_icon{
  content: url(assets/4_2_icon_sites_logo.png);
  max-height: 25px;
}
.title_1{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: Trebuchet MS;
    text-shadow: 2px 2px black;
}
.title_2{
    font-size: 46px;
    text-align: left;
    color: white;
    font-family: Trebuchet MS;
    text-shadow: 2px 2px black;
}
.two_images{
  margin: 0;
  padding: 0;
  display: inline-block;
}
video{
    width:100%;
    height: auto;
}
#villa{
    background-image: url(assets/19_palacio_municipal_santiago_nuevo_leon.jpg);
    background-position: center;
    background-size: cover;
    padding:10px;
}
